html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: #f6f5f3;
	font: 14px/1.2 Arial sans-serif;
	color: #444;
}

.road-signs {
	display: table;
	height: 100%;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

	.road-signs__item {
		display: table-cell;
		vertical-align: middle;
		margin: 3%;
	}

	.road-signs__caption {
		margin-top: 20px;
		font: italic 18px Georgia, sans-serif;
		text-shadow: 0 1px 1px white;
	}


.road-sign {
	display: inline-block;
	width: 205px;
	height: 200px;
	position: relative;
	box-shadow: 0 0 15px rgba(0,0,0,.2);
}

	.road-sign_type_1 {
		background: red;
		width: 200px;
		height: 200px;
		border: 3px solid white;
		border-radius: 50%;
	}

		.road-sign_type_1 .road-sign__inner {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 70%;
			height: 25%;
			background: white;
			-webkit-transform: translate(-50%, -50%);
			   -moz-transform: translate(-50%, -50%);
			    -ms-transform: translate(-50%, -50%);
			     -o-transform: translate(-50%, -50%);
			        transform: translate(-50%, -50%);
		}


	.road-sign_type_2 {
		background: red;
		width: 200px;
		height: 200px;
		border: 3px solid white;
		border-radius: 50%;
		-webkit-transform: rotate(45deg);
		   -moz-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		     -o-transform: rotate(45deg);
		        transform: rotate(45deg);
		-webkit-transform-origin: center center;
		   -moz-transform-origin: center center;
		    -ms-transform-origin: center center;
		     -o-transform-origin: center center;
		        transform-origin: center center;
	}

		.road-sign_type_2:before {
			content: '';
			position: absolute;
			top: 10%;
			right: 10%;
			bottom: 55%;
			left: 55%;
			background: blue;
			border: 3px solid white;
			border-radius: 0 100% 0 0;
		}

		.road-sign_type_2:after {
			content: '';
			position: absolute;
			top: 55%;
			right: 10%;
			bottom: 10%;
			left: 55%;
			background: blue;
			border: 3px solid white;
			border-radius: 0 0 100% 0;
		}

		.road-sign_type_2 .road-sign__inner:before {
			content: '';
			position: absolute;
			top: 10%;
			right: 55%;
			bottom: 55%;
			left: 10%;
			background: blue;
			border: 3px solid white;
			border-radius: 100% 0 0 0;
		}

		.road-sign_type_2 .road-sign__inner:after {
			content: '';
			position: absolute;
			top: 55%;
			right: 55%;
			bottom: 10%;
			left: 10%;
			background: blue;
			border: 3px solid white;
			border-radius: 0 0 0 100%;
		}


	.road-sign_type_3 {
		background: white;
		width: 145px;
		height: 145px;
		margin: 28px;
		border: 2px solid #555;
		border-radius: 4%;
		-webkit-transform: rotate(45deg);
		   -moz-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		     -o-transform: rotate(45deg);
		        transform: rotate(45deg);
		-webkit-transform-origin: center center;
		   -moz-transform-origin: center center;
		    -ms-transform-origin: center center;
		     -o-transform-origin: center center;
		        transform-origin: center center;
	}

		.road-sign_type_3 .road-sign__inner {
			content: '';
			position: absolute;
			top: 10%;
			right: 10%;
			bottom: 10%;
			left: 10%;
			background: yellow;
			border: 2px solid #555;
			border-radius: 4%;
		}

@media all and (max-width: 700px) {
	.road-signs {
		display: block;
	}

	.road-signs__item {
		display: inline-block;
	}
}